<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.ChatMapper">
    <select id="selectChatUser" parameterType="String" resultType="com.pingo.dto.chat.ChatUserDTO">
        SELECT cu."userNo", cu."roomId", ui."imageUrl", us."userName" FROM "chatUser" cu
        LEFT JOIN "userImage" ui ON cu."userNo" = ui."userNo" AND ui."imageProfile" = 'T'
        JOIN "users" us ON cu."userNo" = us."userNo"
        WHERE "roomId" IN (SELECT "roomId" FROM "chatUser" WHERE "userNo" = #{userNo})
        AND cu."userNo" != #{userNo}
    </select>
</mapper>


<!--imageProfile == T 인것을 조회-->