<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.KeywordMapper">

    <select id="selectKeywordListFor2ndCategory" parameterType="map" resultType="com.pingo.entity.keywords.Keyword">
        SELECT * FROM "keyword"
        START WITH "kwParentId" IS NULL
        CONNECT BY PRIOR "kwId" = "kwParentId"
        AND LEVEL = 2
        ORDER BY "kwId" ASC
    </select>

</mapper>