<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingo.mapper.SwipeStateMapper">

    <select id="getUserSwipeDetails" resultType="com.pingo.entity.swipeState.UserSwipeDetails" parameterType="map" flushCache="true">
        SELECT
        u."userNo", u."userName", u."userNick", u."userGender", s."swipeNo", i."imageUrl"
        FROM "users" u
        <if test='standardColumn == "toUserNo"'>
            JOIN "swipe" s ON u."userNo" = s."fromUserNo"
        </if>
        <if test='standardColumn != "toUserNo"'>
            JOIN "swipe" s ON u."userNo" = s."toUserNo"
        </if>
        JOIN "userImage" i ON u."userNo" = i."userNo"
        WHERE s."${standardColumn}" = #{standardUserNo}
        AND u."userState" = "OK"
        AND s."swipeState" = #{swipeState}
        AND i."imageProfile" = #{imageProfile}
    </select>

</mapper>